<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crear Curso</title>
</head>
<body>

<!-- Agregar el banner usando Thymeleaf -->
<div th:insert="fragments/banner :: banner"></div>
<h1>Crear Curso</h1>

<form action="/api/v1/curso/create-curso" method="post" enctype="multipart/form-data">
    <!-- Campo para el nombre del curso -->
    <div>
        <label for="nombre">Nombre del Curso:</label>
        <input type="text" id="nombre" name="nombre" required>
    </div>

    <!-- Campo para la descripción del curso -->
    <div>
        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" name="descripcion" required></textarea>
    </div>

    <!-- Campo para el archivo (la imagen) -->
    <div>
        <label for="archivo">Imagen del Curso:</label>
        <input type="file" id="archivo" name="archivo" accept="image/*" required>
    </div>

    <!-- Botón para enviar el formulario -->
    <div>
        <button type="submit">Crear Curso</button>
    </div>
</form>
</body>
</html>
